# Strings

In [2]:
# Strings
name = "Carlos"
age = 25
print("My name is {} and I'm {} years old".format(name, age))

My name is Carlos and I'm 25 years old

In [3]:
name = "Carlos"
age = 30
print("My name is {variable1} and I'm {variable2} years old".format(variable1=name,variable2=age))

My name is Carlos and I'm 30 years old

In [6]:
sport = "baseball"
sport[0]

'b'

In [9]:
sport[-3]

'a'

In [11]:
sport[1:4]

'ase'

# Lists

In [12]:
# List
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [13]:
['a','b','c']

['a', 'b', 'c']

In [14]:
l = ['a','b','c']
l

['a', 'b', 'c']

In [15]:
l.append('d')

In [16]:
l

['a', 'b', 'c', 'd']

In [17]:
l[0]

'a'

In [18]:
l[-1]

'd'

In [19]:
l[1:3]

['b', 'c']

In [21]:
ld = [1, 2, 3, ['a', 'b', 'c']]

In [23]:
ld[3]

['a', 'b', 'c']

In [24]:
ld[3][1]

'b'

# Dictionary

In [25]:
# Dictionary

dictionary = {"key1": "value1", "key2": "value2", "key3": "value3"}

In [27]:
dictionary["key2"]

'value2'

# Set

In [29]:
s = {1,2,3,4}
s

{1, 2, 3, 4}

In [30]:
s2 = {1,2,3,4,1,2,3,4}
s2

{1, 2, 3, 4}

In [32]:
l = [1,2,3,4,5,6,1,2,3,4,5,6]
conjunt = set(l)
conjunt

{1, 2, 3, 4, 5, 6}

# Comparators

In [33]:
5 == 5

True

In [34]:
value1 = 4
value2 = 5
value1 == value2

False

In [35]:
value1 > value2

False

In [36]:
value1 < value2

True

In [38]:
value1 <= value2

True

In [39]:
value1 >= value2

False

In [40]:
value1 != value2

True

In [41]:
(5 < 7) and (8 > 7)

True

In [42]:
(5 < 7) and (8 < 7)

False

In [43]:
(5 < 7) or (8 < 7)

True

In [46]:
(5 < 7) and ((8 > 7) or (3 > 4))

True

# If-Else

In [50]:
a = 5
b = 5
if (a == b):
    print("a is equals to b")
else:
    print("a is not equals to b")

a is equals to b

In [52]:
a = 5
b = 8
if (a == b):
    print("a is equals to b")
elif (a > b):
    print("a is greater than b")
elif (a < b):
    print("b is greater than a")
else:
    print("a is not equals to b")

b is greater than a

# For

In [3]:
li = [1, 2, 3, 4, 5, 6]
for element in li:
    print(element * 5)

5
10
15
20
25
30

# While

In [4]:
number = 1
while number < 5:
    print(number)
    number = number + 1

1
2
3
4

# Range

In [5]:
range(0,5)

range(0, 5)

In [6]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for x in range(1,8):
    print(x)

1
2
3
4
5
6
7

# List Compression

In [9]:
li1 = [1, 2, 3, 4, 5]
li2 = []
for number in li1:
    value = number * 2
    li2.append(value)
li2

[2, 4, 6, 8, 10]

In [11]:
li3 = [number * 2 for number in li2]
li3

[4, 8, 12, 16, 20]

# Functions

In [12]:
def function():
    print("Hi, Good night")
    
function()

Hi, Good night

In [13]:
def greet(name):
    print("Hi, Good morning " + name)
    
greet("Carlos")

Hi, Good morning Carlos

In [16]:
def add(number1, number2):
    """
    This is a comment
    This function add 2 numbers
    """
    return number1 + number2

add(5, 8)

13

# Map

In [19]:
def multiply(number):
    return number * number

li1 = [1,2,3,4,5,6]
li2 = list(map(multiply, li1))
li2

[1, 4, 9, 16, 25, 36]

# Lambdas

In [23]:
li1 = [1,2,3,4,5,6]
li2 = list(map(lambda number: number * number, li1))
li2

[1, 4, 9, 16, 25, 36]

# Filters

In [28]:
def par(number):
    if (number % 2 == 0):
        return number

par(10)

li1 = [1,2,3,4,5,6,7,8,9,10]
li_par = list(filter(par, li1))
li_par

[2, 4, 6, 8, 10]

In [30]:
li1 = [1,2,3,4,5,6,7,8,9,10]
li_par = list(filter(lambda number: number % 2 == 0, li1))
li_par

[2, 4, 6, 8, 10]

# Character String

In [31]:
string = "Good morning, I´m Carlos"
string

'Good morning, I´m Carlos'

In [32]:
string.upper()

'GOOD MORNING, I´M CARLOS'

In [33]:
string.capitalize()

'Good morning, i´m carlos'

In [34]:
string.lower()

'good morning, i´m carlos'

In [35]:
string.split()

['Good', 'morning,', 'I´m', 'Carlos']

In [36]:
string.split(",")

['Good morning', ' I´m Carlos']

# Exercise 1
Given the following sentence, "Hello, this is a Machine Learning course".
Divide the sentence into words and count the number of words the sentence contains.
Show the result using "print" as follows: The number of words is ...

In [39]:
string = "Hello, this is a Machine Learning course"
words = string.split()
words

number = 0
for word in words:
    number = number + 1
    
print("The number of words is {}".format(number))

The number of words is 7

# Exercise 2
Given the following list li = [1, -1, 4, -15, 9, 7, 6, -3, 2, -20].
Create a "positive" function that passes a number as a parameter, returns it as is if it is positive, or does not return anything if the number is negative.
Create a new list "li2", which, through "filter", contains only the positive numbers of the initial list.

In [41]:
li = [1, -1, 4, -15, 9, 7, 6, -3, 2, -20]
def positive(number):
    if (number >= 0):
        return number
    
li2 = list(filter(positive, li))
li2

[1, 4, 9, 7, 6, 2]

# Exercise 3
Given the following list of words li = ["apple", "banana", "melon", "pear", "apple", "pear", "lemon", "banana", "orange"]. Create a "no_duplicate_list" list by removing repeated words.

In [45]:
li = ["apple", "banana", "melon", "pear", "apple", "pear", "lemon", "banana", "orange"]

s = set(li)
no_duplicate_list = list(s)
no_duplicate_list

['apple', 'melon', 'lemon', 'pear', 'orange', 'banana']

# Exercise 4
Create a "divide_by_2" function and return the result. Given the following list li = [20, 18, 8, 4, 10, 40, 6]. Create a new list "li2" that, using the "map" function, applies the "divide_by_2" function to each element in the list.

In [48]:
def divide_by_2(number):
    return number / 2

li = [20, 18, 8, 4, 10, 40, 6]
li2 = list(map(divide_by_2, li))
li2

[10.0, 9.0, 4.0, 2.0, 5.0, 20.0, 3.0]

# Exercise 5

Create a function that receives 2 numbers as parameters and returns the addition, subtraction, multiplication, division and rest of the operations between both numbers.

In [51]:
def mathematical_operations(a, b):
    li = []
    add = a + b
    sub = a - b
    mult = a * b
    div = a / b
    rest = a % b
    li.append(add)
    li.append(sub)
    li.append(mult)
    li.append(div)
    li.append(rest)
    return li

mathematical_operations(10, 3)

[13, 7, 30, 3.3333333333333335, 1]